<a class="Home" href="/">Home</a>
	<div class="url-header">
	<h1>URL Index</h1>
</div>

<div class="filter">
	<%= text_field_tag :original_url %>
	<%= submit_tag "Filter by Original URL", id: "filter-urls", class: "btn btn-default filter"%>
</div>

<div class="all-links">
	<table class="center" id="t01">
	  <tr>
	    <th>Original URL</th>
	    <th>Mini URL</th>
			<th><%= link_to "Views", urls_path(popularity_sort: "hi") %></th>
	    <th><%= link_to "Day/Time Created", urls_path(date_sort: "ho") %></th>
	  </tr>
	  <tr>
		<% @urls.each do |url|%>
			<td><%= truncate(url.original_url, length: 50, omission: '... (et cetera)', escape: false) %></td>
	    <!-- <td><%#= link_to url.display_tiny_url, url_path(url.id) %></td> -->
			<td><%= link_to url.display_tiny_url, url.original_url %></td>
	    <td><%= url.clicks %></td>
	    <td><%= url.time %></td>
	  </tr>
		<% end %>
	</table>
</div>
