
<h1>
  <div class='container url-home' id="url1">
  <%= form_tag("/welcome", method: "create") do %>
  <%= label_tag("What is the name of the url you'd like shortened today?") %><br><br>
  <%= text_field_tag "url", "URL",
  :onclick => 'if($(this).val()=="URL"){$(this).val("");};' %><br><br>
  <button id="Shorten that shit" type="submit" class="btn btn-lg btn-primary">Shorten that shit!</button><br><br>
  <% end %>
</div>
<row>
  <div class="tiny_url col-md-5">
    I shall call it: <br><a href="tiny_url"><br><%= @tiny_url %></a>
  </div>
  <div class="mini col-md-7">
    <%= image_tag "mini.jpg" %>
  </div>
</h1>
